/* ---------- GENERAL ----------*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
}

h2,
h3 {
    font-weight: 800;
    margin: 0;
}

p {
    font-weight: 500;
}

em {
    font-weight: 700;
    font-style: normal;
}

.flex {
    display: flex;
}


/* ----------HEADER -----------*/

.main-header {
    margin-top: 30px;
}

.logo img {
    max-width: 100px;
    width: 100%;
}

.main-header {
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    padding: 0;
    gap: 40px;
}

.menu-list a {
    padding: 44px 0 0 0;
}

.menu-list a:hover {
    border-top: 3px #0065fc solid;
    color: #0065fc;
}


/* ---------- SECTION SEARCH ----------- */

#search {
    margin-top: 30px;
}

.search-form {
    align-items: center;
}

label i {
    padding: 17px 20px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

input[name="destination"] {
    padding: 14px;
    border: 2px #f2f2f2 solid;
    border-left: none;
    border-right: none;
}

::placeholder {
    font-weight: 800;
    color: black;
    opacity: 1;
}

.submit {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 16px 20px;
}

.submit p {
    margin: 0;
    font-weight: 600;
    font-size: 1em;
}

.submit i {
    display: none;
}

.submit:hover {
    cursor: pointer;
}


/* ---------- FILTERS ----------- */

.filters {
    margin-top: 15px;
    align-items: center;
}

.filters p {
    font-weight: 800;
}

.filter-list {
    flex-wrap: wrap;
    gap: 20px;
}

.filter-list a {
    border: 2px #f2f2f2 solid;
    border-left: none;
    border-radius: 25px;
    padding: 12px 15px 12px 0px;
    font-weight: 800;
}

.filter-list i {
    color: #0065fc;
    background-color: #deebff;
    padding: 14.5px 14.5px;
    border-radius: 25px;
    margin-right: 10px;
}

.filter-list .money,
.filter-list .dog {
    padding: 14.5px 13.5px;
}

.filter-list .child {
    padding: 14.5px 15.5px;
}

.filter-list i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 25px;
}

.filter-list a:hover {
    background-color: #deebff;
}


/* ---------- INFO ----------- */

.info {
    align-items: center;
    gap: 10px;
}

.info i {
    color: #0065fc;
    border: 1px solid #f2f2f2;
    padding: 5px 10px;
    border-radius: 20px;
}


/* ---------- HEBERGEMENTS ----------- */

#hebergements {
    margin-top: 10px;
    justify-content: space-between;
}

.hebergement-container {
    width: 67%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 0 30px 20px 30px;
}

.card-container {
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.card {
    background-color: white;
    width: 30%;
    height: 100%;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 5px 20px rgb(206, 206, 206);
}

.card-img {
    height: 100px;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card-text {
    margin-top: 10px;
    padding: 0px 10px;
    flex-direction: column;
    gap: 5px;
}

.card-text p {
    margin: 0;
    font-size: 0.8em;
}

.stars-list {
    padding: 0;
    margin: 0;
    gap: 2px;
    font-size: 0.9em;
}

.stars-list i {
    font-size: 0.7em;
}

.blue-star {
    color: #0065fc;
}

.grey-star {
    color: #f2f2f2;
}

.hebergement-container .button {
    margin-top: 40px;
    font-weight: 800;
}


/* ---------- POPULAIRES ----------- */

.populaire-container {
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 0 30px 20px 30px;
}

.populaire-container header {
    align-items: center;
    justify-content: space-between;
}

.populaire-container .card-container {
    margin-top: 25px;
    flex-direction: column;
}

.populaire-container .card {
    width: 100%;
}

.populaire-container .card-img {
    width: 65%;
    height: 115px;
}

.populaire-container img {
    border-radius: 10px 0 0 10px;
}

.populaire-container .card-text {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
}

.populaire-container h3 {
    margin-bottom: 5px;
}


/* ---------- ACTIVITES ----------- */

#activites {
    margin-top: 30px;
}

.activite-container {
    margin-top: 15px;
    justify-content: space-between;
    height: 420px;
}

.activite-container .double-card,
.activite-container .single-card {
    width: 22%;
}

.double-card {
    flex-direction: column;
    justify-content: space-between;
}

.single-card {
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgb(206, 206, 206);
    height: 100%;
}

.activite-container .single-card .card-img {
    height: 90%;
}

.activite-container .double-card .single-card {
    width: 100%;
}

.single-card div:last-child {
    padding: 15px;
}

.single-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activite-container div:nth-child(2) .single-card:first-child {
    height: 55%;
}

.activite-container div:nth-child(2) .single-card:first-child .card-img {
    height: 80%;
}

.activite-container div:nth-child(2) .single-card:last-child {
    height: 35%;
}

.activite-container div:nth-child(2) .single-card:last-child .card-img {
    height: 70%;
}

.activite-container div:nth-child(4) .single-card:first-child {
    height: 40%;
}

.activite-container div:nth-child(4) .single-card:first-child .card-img {
    height: 72%;
}

.activite-container div:nth-child(4) .single-card:last-child {
    height: 50%;
}

.activite-container div:nth-child(4) .single-card:last-child .card-img {
    height: 78%;
}


/* ---------- FOOTER ----------- */

footer {
    margin-top: 50px;
    background-color: #f2f2f2;
    justify-content: space-evenly;
    padding: 30px 0;
}

footer div,
footer ul {
    flex-direction: column;
}

footer ul {
    padding: 0;
    gap: 5px;
}


/* ---------- TABLETTE ----------- */

@media screen and (max-width: 992px) {}


/* ---------- MOBILE ----------- */

@media screen and (max-width: 768px) {
    /* ---------- GENERAL ----------*/
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1em;
    }
    /* ----------HEADER -----------*/
    .main-header {
        flex-direction: column;
    }
    nav {
        margin-top: 20px;
        width: 100%;
    }
    .menu-list {
        justify-content: space-evenly;
    }
    /* ---------- SECTION SEARCH ----------- */
    #search {
        padding: 0 20px;
        margin-top: 0;
    }
    #search form {
        margin-top: 40px;
    }
    input[name="destination"] {
        width: 100%;
        border-radius: 0 15px 15px 0;
    }
    .submit {
        border-radius: 15px 15px 15px 15px;
        position: absolute;
        right: 20px;
        padding: 16px 16px;
    }
    .submit p {
        display: none;
    }
    .submit i {
        display: initial;
    }
    /* ---------- FILTERS ----------- */
    .filters {
        flex-direction: column;
        align-items: baseline;
    }
    .filter-list {
        margin-top: 0;
    }
    .filters ul {
        padding: 0;
    }
    /* ---------- POPULAIRES ----------- */
    #hebergements {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .populaire-container {
        padding-top: 40px;
        width: 100%;
        border-radius: 0;
    }
    .populaire-container .card-container {
        gap: 10px;
    }
    /* ---------- HEBERGEMENTS ----------- */
    .hebergement-container {
        margin-top: 40px;
        width: 100%;
        background-color: white;
        border-radius: 0;
    }
    .card-container {
        flex-direction: column;
        gap: 10px;
    }
    .card {
        width: 100%;
    }
    /* ---------- ACTIVITES ----------- */
    #activites {
        padding: 0 20px;
    }
    .activite-container {
        padding-top: 20px;
        flex-direction: column;
        height: 100%;
    }
    .activite-container,
    .activite-container .double-card {
        gap: 30px;
    }
    .activite-container .double-card,
    .activite-container .single-card {
        width: 100%;
    }
    .activite-container .single-card,
    .activite-container div:nth-child(2) .single-card:first-child,
    .activite-container div:nth-child(2) .single-card:last-child,
    .activite-container div:nth-child(4) .single-card:first-child,
    .activite-container div:nth-child(4) .single-card:last-child {
        height: 200px;
    }
    .activite-container .single-card .card-img,
    .activite-container div:nth-child(2) .single-card:first-child .card-img,
    .activite-container div:nth-child(2) .single-card:last-child .card-img,
    .activite-container div:nth-child(4) .single-card:first-child .card-img,
    .activite-container div:nth-child(4) .single-card:last-child .card-img {
        height: 150px;
    }
    /* ---------- FOOTER ----------- */
    footer {
        flex-direction: column;
        padding: 30px 20px;
        gap: 20px;
    }
}