/* ---------- GENERAL ----------*/

* {
    box-sizing: border-box;
}

#wrapper {
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

::placeholder {
    font-weight: 700;
    color: black;
    opacity: 1;
}


/* ----------HEADER -----------*/

header {
    margin-top: 30px;
}

header,
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    margin: 0 30px;
}

.logo img {
    max-width: 100px;
    width: 100%;
}

.menu-item a {
    padding-top: 44px;
}

.menu-item a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}


/* ---------- SECTION SEARCH ----------- */

#search {
    margin-top: 30px;
}

.submit-mobile {
    display: none;
}

.search-form {
    display: flex;
    align-items: center;
}

label i {
    padding: 15.5px 20px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

input[name="destination"] {
    font-weight: 700;
    padding: 12px;
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-right: none;
}

.submit-desktop {
    background-color: #0065FC;
    font-weight: 700;
    color: white;
    border: none;
    padding: 14.3px 20px;
    border-radius: 0 15px 15px 0;
}

.submit-desktop:hover {
    cursor: pointer;
}


/* ---------- FILTERS ----------- */

.filters {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.filters p {
    font-weight: 700;
}

.filter-list {
    display: flex;
}

.filter-list a {
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 25px;
    padding: 10px 15px 10px 0px;
    margin-right: 20px;
    font-weight: 700;
}

.filter-list i {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12.5px 12.5px;
    border-radius: 25px;
    margin-right: 10px;
}

.filter-list .money,
.filter-list .dog {
    padding: 12.5px 11.5px;
}

.filter-list .child {
    padding: 12.5px 13.5px;
}

.filter-list i {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
    margin-right: 10px;
}

.filter-list a:hover {
    background-color: #DEEBFF;
}


/* ---------- INFO ----------- */

.info {
    display: flex;
    align-items: center;
}

.info i {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}


/* ---------- HEBERGEMENTS ----------- */

#hebergements {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#hebergements h2 {
    margin: 0;
}

#hebergements .l {
    width: 55%;
}

#hebergements .r {
    width: 42%;
}

.grey-bg {
    background-color: #F2F2F2;
    height: 500px;
    padding: 30px;
    border-radius: 20px;
}


/* ---------- ACTIVITES ----------- */

.container {
    display: flex;
    justify-content: space-between;
}

.single-card {
    background-color: #F2F2F2;
    width: 20%;
    height: 400px;
}

.double-card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 20%;
    justify-content: space-between;
}

.double-card .single-card {
    width: 100%;
    height: 100px;
}